/* Geral */

body {
    margin: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Montserrat', 'Roboto+Slab', 'Sans';
    text-align: center;
    color: white;
    font-size: 25px;
}

h2, h3, a, p {
    font-family: 'Montserrat', 'Roboto+Slab', 'Sans';
    text-align: center;
    color: white;
    font-size: 15px;
    
}

@media (min-width: 1024px) {
    h2, h3, p {
        font-size: 40px;
    }
    a {
        font-size: 15px;
    }
}

/* Nav > Navegação */

nav {
    background-color: #63458a;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 1024px){
    nav {
        background-position: center;
    }
}

nav img{
    width: 50%;
}

nav ul {
    display: none;
}

@media (min-width: 1024px) {
    nav ul {
        display: flex;
        margin: 0;
    }
    
    li {
        list-style: none;
        display: inline;
        margin: 25px;
    }
    
    nav div > img {
        display: none;
    }
}

/* Header > Cabeçalho */

header {
    background: url(../img/bg-banner-claro.png) center;
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
}

@media (min-width: 1024px){
    header {
        justify-content: flex-start;
        align-items: unset;
        padding: 17% 0% 2% 10%;
    }
    header div {
        width: 50%;
    }
}

header p {
    color: white;
}

header h1{
    text-transform: uppercase;
}

@media (min-width: 1024px) {
    h1 {
        font-size: 25px;
    }
    p {
        font-size: 15px;
    }
}

header div p, header div h1 {
    text-align: center;
    width: 100%;
}

@media (min-width: 1024px){
    header div p, header div h1{
        text-align: left;
    }
}

.botao {
    background-color: #b288c0;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    display: block;
    max-width: 180px;
    margin: 10px auto;
}

@media (min-width: 1024px){
    header .botao{
        padding: 20px;
        margin: 10px 0;
    }
}

/* Seção Sobre */

.sobre p {
    margin: 0;
    color: white;
}

.sobre {
    background-color: #b288c0;
    padding: 6%;
}

.sobre img{
    width: 50%;
    display: block;
    margin: 0 auto;
    -display: block;
}

/* Seção Mulheres */

.container-mulheres h2, p {
    color: #63458a;
}

.container-mulheres {
    background-color: #f3eaf3;
    background-size: cover;
    padding: 5%;
    -width: 100%;
}

.grid-mulheres {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 5em; 
}

@media (min-width: 1024px){
    .grid-mulheres{
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        grid-gap: 5em;
        max-width: 40px;
    }
}

.grid-mulheres > div:first-child {
    display: none;
}

/* Seção criadoras */
 
.container-criadoras {
    width: 100%;
    margin: 0 auto;
    background-color: #7e5a9b;
    background-size: cover;
    padding: 1px;
}

.container-criadoras h2 {
    color: white;
    margin: 0;
    margin-bottom: 10px;
    
}

.grid-criadoras {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-gap: 1em;
    margin: 0 auto;
    width: 80%;   
    
}

/* Footer */

.footer-nav {
    background-color: rgb(41, 39, 39);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-nav ul {
    padding: 0%;
}

.footer-nav li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px;
}

.logo p {
    color: white;
    margin: 0;
    font-size: 14px;
}

.redes img {
    width: 5%;
}

.logo img {
    width: 50%;
    display: block;
    margin: auto;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.redes p {
    color: white;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: rgb(78, 78, 78);
}

.footer-bottom p {
    color: white;
    font-size: 10px;  
}