/* Geral */

body {
    margin: 0;
}

img {
    width: 100%;
}

.img-grid-roxo {
    border-radius: 5px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Montserrat', 'Roboto+Slab', 'Sans';
    text-align: center;
    color: white;
    font-size: 25px;
}

h2, h3, a, p {
    font-family: 'Montserrat', 'Roboto+Slab', 'Sans';
    text-align: center;
    color: white;
    font-size: 15px;
}

/* Nav > Navegação */

nav {
    background-color: #63458a;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img{
    width: 50%;
}

nav ul {
    display: none;
}

/* Header > Cabeçalho */

header {
    background: url(../img/bg-banner-claro.png) center;
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
}

header p {
    color: white;
}

header h1{
    text-transform: uppercase;
}

header div p, header div h1 {
    text-align: center;
    width: 100%;
}

.botao {
    background-color: #b288c0;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    display: block;
    max-width: 180px;
    margin: 10px auto;
}

/* Seção Sobre */

.sobre p {
    margin: 0;
    color: white;
}

.sobre {
    background-color: #b288c0;
    padding: 6%;
}

.sobre img{
    width: 50%;
    display: block;
    margin: 0 auto;
}

/* Seção Mulheres */

.container-mulheres h2, p {
    color: #63458a;
    margin-bottom: 35px;
}

.container-mulheres {
    background-color: #f3eaf3;
    background-size: cover;
    padding: 3%;
}

.grid-mulheres {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
}

/* Seção criadoras */
 
.container-criadoras {
    margin: 0 auto;
    background-color: #7e5a9b;
    background-size: cover;
    padding: 3%;
}

.container-criadoras h2 {
    color: white;
    margin: 0;
    margin-bottom: 35px;
    
}

.grid-criadoras {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 5%;
    grid-row-gap: 1em;
    max-width: 60%;
    margin: 20px auto;
}

/* Footer */

.footer-nav {
    background-color: rgb(41, 39, 39);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-nav ul {
    padding: 0%;
}

.footer-nav li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px;
}

.logo p {
    color: white;
    margin: 0;
    font-size: 14px;
}

.redes img {
    width: 5%;
}

.logo img {
    width: 50%;
    display: block;
    margin: auto;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.redes p {
    color: white;
    margin-bottom: 15px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: rgb(78, 78, 78);
}

.footer-bottom p {
    color: white;
    font-size: 10px;  
}

/* Media Queries*/

/* Geral */

@media (min-width: 1024px) {
    h2, h3, p {
        font-size: 40px;
    }
    a {
        font-size: 15px;
    }
}

/* Nav > Navegação */

@media (min-width: 1024px){
    nav {
        background-position: center;
    }
}

@media (min-width: 1024px) {
    nav ul {
        display: flex;
        margin: 0;
    }
    
    li {
        list-style: none;
        display: inline;
        margin: 25px;
    }
    
    nav div > img {
        display: none;
    }
}

/* Header > Cabeçalho */

@media (min-width: 1024px){
    header {
        justify-content: flex-start;
        align-items: unset;
        padding: 17% 0% 2% 10%;
    }
    header div {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 25px;
    }
    p {
        font-size: 15px;
    }
}

@media (min-width: 1024px){
    header div p, header div h1{
        text-align: left;
    }
}

@media (min-width: 1024px){
    header .botao{
        padding: 20px;
        margin: 10px 0;
    }
}

/* Seção Sobre */

@media (min-width: 1024px){
    .sobre p {
        font-size: 20px;
    }
}

@media (min-width: 1024px){
    .sobre img {
        width: 30%;
    }
}

/* Seção Mulheres */

@media (min-width: 767px){
    .grid-mulheres{
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-column-gap: 15%;
        grid-row-gap: 1em;
        max-width: 50%;
        margin: 0 auto;
    }
}

 @media (max-width: 767px){
    .grid-mulheres > div:first-child {
        display: none;
    }
}

/* Seção Criadoras */

@media (max-width: 767px) {
    .grid-criadoras {
        max-width: 94%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        margin: 15px auto;
        
    }
}

